@media (max-width: 750px) {
  html {
    overflow: hidden;
  }
  header .profile {
    padding: 0 1rem 0 2rem !important;
  }
  header .profile img {
    width: 3.4rem !important;
  }
  header .info-container .name {
    font-size: 1.3rem !important;
  }
  .nav ul {
    margin-left: 1rem !important;
    margin: 0 1rem;
  }
}
